---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<p>Co-founder of</p>
<h2 style="margin-top:-1rem;">Sophia Intelligence</h2>
<a href="https://sophiaintelligence.ai/">
<img style="width:100%" src="img/sophia-Intelligence.png">
</a>
<p>Resident at the</p>
<h2 style="margin-top:-1rem;">Monastery of Infinite Mystics</h2>
<img style="width:100%" src="img/MIM.png">

<h2> Consulting </h2>
<p>I am generally available for consulting in the realms of software architecture and software engineering when it is aligned with spirit.</p>


{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}



{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
